.logo{
  
   margin-left: auto;
   margin-right: auto;
   width:40%;
   }
   
   .box{
   margin-left:auto;
   margin-right: auto;
   width:40%;
   
   }
   
   .buttons{
   margin-left:auto;
   margin-right:auto;
   width: 40%;
   }
   
   .space{
   height: 15px;
   }
   
   .footer{
   width: 100%;
   height: 30px;
   background-color: #f2f2f2;
 margin-left: 0;
   position: absolute;
   bottom:0px;
   }
   
   ul{
   list-style-type: none;
   
   }
   
   .footer li{
   display: inline;
   }
